.app-container {
  position: relative;
  z-index: 1;
}

.example-spacer {
    flex: 1 1 auto;
  }

.example-container {
  height: 100vh;
}

.content {
  height: 100%;
  background-color: lightgrey;
}

body {
  font-family: "Poppins", sans-serif;
}

.example-icon {
  color: white
} 

.custom-sidenav {
  background-color: #1e6b85;
}