.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  /* color: white;
  text-align: center; */
}

.line {
  display: block;
  border-top: 1px solid black;
  width: 100%;
  margin: 0 auto; 
}

#live-stats-table {
  border-collapse: collapse;
  text-align: center;
}

#live-stats-table td {
  padding: 5px;
}

#live-stats-table td:nth-child(1) {
  border-right: 1px solid black;
}

.score-container {
  display: flex;
  justify-content: space-between;
}
  
.team-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
  
.team {
  text-align: center;
}
  
.buttons-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin-top: 20px;
}

.scoreboard {
  width: 40%;
  margin-left: 20px;
}
  
  