<div class="background">
    <div class="awards-container">
        <div class="card-row">
            <br><br><br><br><br>
            <mat-card class="card">
                <mat-card-content>
                    <h2>2010 - ENL Division 8 Champions</h2>
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <mat-card-content>
                    <!-- <mat-icon class="trophy-icon">emoji_events</mat-icon> -->
                    <h2>2012 - ENL Division 7 Champions</h2>
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <mat-card-content>
                    <!-- <mat-icon class="trophy-icon">emoji_events</mat-icon> -->
                    <h2>2015 - ENL Division 6 Champions</h2>
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <mat-card-content>
                    <!-- <mat-icon class="trophy-icon">emoji_events</mat-icon> -->
                    <h2>2017 - ENL Division 5 First Runner-Up</h2>
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <mat-card-content>
                    <!-- <mat-icon class="trophy-icon">emoji_events</mat-icon> -->
                    <h2>2022 - ENL Division 5 First Runner-Up</h2>
                </mat-card-content>
            </mat-card>
          </div>
          <div>
            <br><br>
            <div>
                <ng-lottie [options]="options"></ng-lottie>
            </div>
          </div>
    </div>
</div>
