<div class="awards-container">
    <div class="card-row">
        <mat-card class="card">
            <mat-card-content>
                <mat-icon class="trophy-icon">emoji_events</mat-icon>
                <p><strong>2010 ENL Division 8 Champions</strong></p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-content>
                <mat-icon class="trophy-icon">emoji_events</mat-icon>
                <p><strong>2012 ENL Division 7 Champions</strong></p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-content>
                <mat-icon class="trophy-icon">emoji_events</mat-icon>
                <p><strong>2015 ENL Division 6 Champions</strong></p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-content>
                <mat-icon class="trophy-icon">emoji_events</mat-icon>
                <p><strong>2017 ENL Division 5 First Runner-Up</strong></p>
            </mat-card-content>
        </mat-card>
      </div>
</div>