<div class="calendar">
  <div class="card-container">
    <mat-card title="Calendar" style="width: 40%;">
      <mat-card-content>
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
          <br>
          <div class="form-row">
              <mat-form-field class="form-field-width">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-field-width">
                  <mat-select placeholder="Title" [(ngModel)]="title">
                      <mat-option *ngFor="let option of eventOptions" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field-width">
                  <mat-select placeholder="Start Time" [(ngModel)]="startTime">
                      <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field-width">
                  <mat-select placeholder="End Time" [(ngModel)]="endTime">
                    <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time }}</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
            <button mat-raised-button color="primary" (click)="addEvent()">Add Event</button>    
          <br>
          <div *ngIf="eventAdded">
            <p>New {{title}} added! Click below to inform all members in notification</p>
            <button mat-raised-button [routerLink]="['/notifications']">Send notifications</button>
          </div>
          <div *ngIf="eventDeleted">
            <p>One {{notifEvent}} deleted! Click below to inform all members in notification</p>
            <button mat-raised-button [routerLink]="['/notifications']">Send notifications</button>
          </div>
      </mat-card-content>
  </mat-card>
  <mat-card style="width: 30%;">
    <mat-card-header>
      <mat-card-title>Event Attendance</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <table>
        <thead style="font-weight: bold;">
          <tr>
            <td></td>
            <td></td>
            <td class="table-cell">Event</td>
            <td class="table-cell">Date</td>
            <td class="table-cell">View Attendance</td>
            <td class="table-cell">Attending?</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td class="table-cell">
              <mat-icon>event</mat-icon>
            </td>
            <td class="table-cell"><p></p></td>
            <td class="table-cell">
              <p>{{event.title}}</p>
            </td>
            <td class="table-cell">
              <p>{{event.selectedDate}}</p>
            </td>
            <td style="text-align: center; vertical-align: middle;">
              <button mat-mini-fab color="primary" (click)="attendance(event.eventId)">
                <mat-icon>assignment_turned_in</mat-icon>
              </button>
            </td>
            <td class="table-cell">
              <button mat-flat-button [color]="getButtonColor('yes', event.eventId)" (click)="choice('yes', event.eventId)">Yes</button>&nbsp;
              <button mat-flat-button [color]="getButtonColor('no', event.eventId)" (click)="choice('no', event.eventId)">No</button>
            </td>
          </tr>
          <br>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-cell">
              <button mat-raised-button (click)="save()">Save</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Display attendance for particular event -->
      <table *ngIf="eventGrpAttd.length > 0">
        <thead>
          <tr style="font-weight: bold;">
            <td></td>
            <td class="table-cell">Coming</td>
            <td class="table-cell">Not Coming</td>
            <td class="table-cell">Yet to Reply</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="table-cell" *ngFor="let yes of eventYes">{{yes}}</td>
            <td class="table-cell" *ngFor="let no of eventNo">{{no}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </mat-card-content>
  </mat-card>
  </div>
</div>
