.calendar {
    margin-top: 1cm;
    margin-left: 1cm;
    width: 90%
}

.form-row {
    display: flex;
}

.form-field-width {
    width: 25%; 
    margin-right: 10px;
}

.card-container {
    display: flex;
}

mat-card {
    flex: 1;
    margin: 10px;
}

.table-cell {
    padding: 10px;
}