<div class="quarter-container">
  <div *ngFor="let quarter of fullGameData; let i = index" class="quarter">
    <h2 style="color: blueviolet;">Quarter {{i + 1}}</h2>
    <h3>Players: </h3>
    <span>GS: {{quarter.gs}}</span><br>
    <span>GA: {{quarter.ga}}</span><br>
    <span>WA: {{quarter.wa}}</span><br>
    <span>C: {{quarter.c}}</span><br>
    <span>WD: {{quarter.wd}}</span><br>
    <span>GD: {{quarter.gd}}</span><br>
    <span>GK: {{quarter.gk}}</span>
    <br><br>

    <h3>Score: </h3>
    <span>{{quarter.ownScore}} - {{ quarter.oppScore}}</span>
    <br><br>

    <h3>Merits: </h3>
    <span>Good Team Defence: {{quarter.goodTeamD}}</span>
    <span>Interceptions: {{interceptions[i]}}</span>
    <br><br>
    
    <h3>Room for improvement: </h3>
    <span>Lost possession due to self error: {{quarter.lostSelfError}}</span>
    <span>Lost possession due to interception: {{quarter.lostByIntercept}}</span>
  </div>
</div>
