<div *ngIf="gameId == undefined">
  <button mat-raised-button (click)="saveDB()">Save in Database</button>
  <span *ngIf="isSaved">Saved!</span>
</div>
<div class="quarter-container">
  <div *ngFor="let quarter of fullGameData; let i = index" class="quarter">
    <h2 style="color: blueviolet;">Quarter {{i + 1}}</h2>
    <h3>Players: </h3>
    <span>GS: {{quarter.gs}}</span><br>
    <span>GA: {{quarter.ga}}</span><br>
    <span>WA: {{quarter.wa}}</span><br>
    <span>C: {{quarter.c}}</span><br>
    <span>WD: {{quarter.wd}}</span><br>
    <span>GD: {{quarter.gd}}</span><br>
    <span>GK: {{quarter.gk}}</span>
    <br><br>

    <h3>Score: </h3>
    <span>{{quarter.ownScore}} - {{ quarter.oppScore}}</span>
    <br><br>

    <h3>Shooting Percentage: </h3>
    <span>GA: {{gaPercentage[i] | number: '1.2-2'}}%</span><br>
    <span>GS: {{gsPercentage[i] | number: '1.2-2'}}%</span>
    <br><br>

    <h3>Merits: </h3>
    <span>Good Team Defence: {{quarter.goodTeamD}}</span><br>
    <span>Interceptions: {{interceptions[i]}}</span>
    <br><br>

    <h3>Room for improvement: </h3>
    <span>Lost possession due to self error: {{quarter.lostSelfError}}</span><br>
    <span>Lost possession due to interception: {{quarter.lostByIntercept}}</span>

    <!-- display stats chart -->
    <br>
    <canvas #doughnutChart style="width: 50px; height: 50px"></canvas>
  </div>

</div>

<br><br>
<div *ngIf="game != undefined">
  <div *ngFor="let photo of game.photoUrl">
    <img src="{{photo}}" width="500px">
  </div>
  <div *ngFor="let video of game.videoUrl; let i = index">
    <h3>Link to game recordings</h3>
    <a href="{{video}}">Link {{i+1}}</a>
  </div>
</div>
<br><br><br>
