.background-image {
    background-image: url("../../assets/Krypt.jpg");
    background-color: #edeaea;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* margin-left: 5px; */
}