<mat-card class="background-image">
    <mat-card-content>
      <h2>Team Mission</h2>
      <p>Uniting Passion for Netball</p>
      <p>We believe in team - Together Everyone Achieve More! </p>
      <br>

      <h2>Team Dynamics</h2>
      <p>Coach Koh and Coach Sarah</p>
      <p>38 female players and growing...</p>
      <br>

      <h2>Interested to join our team?</h2>
      <p>Want to play netball?</p>
      <p>Contact our team <a href="['/contact']">captain</a> for more details</p>
    </mat-card-content>
  </mat-card>
  