<div class="background-image">
  <div class="card-row">
    <mat-card class="card" style="margin-right: 100px;">
      <mat-card-content class="mat-card">
        <h1 style="color: rgb(19, 55, 186);">About Us</h1>
        <p><strong>Record Game Statistics</strong></p>
        <p><strong>Track Attendance</strong></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card" style="margin-right: 80px;">
      <mat-card-content class="mat-card">
        <h1 style="color: rgb(19, 55, 186);">More Features</h1>
        <p><strong>Pay and Track Team Funds</strong></p>
        <p><strong>Connect to Useful Links</strong></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-content class="mat-card">
        <h1 style="color: rgb(19, 55, 186);">Login to Access Features</h1>
        <p><strong>Interested to Join?</strong></p>
        <p><strong>Contact our <a href="#" (click)="showDetails()">captain</a> for more details</strong></p>
      </mat-card-content>
    </mat-card>
  </div>
  <p *ngIf="isLoggedIn" class="welcome-back">Welcome Back!</p>
</div>

  