<div class="example-form">
  <mat-card class="card">
    <mat-card-content class="card-content">
      <div>
        <div *ngIf="setupActivated == false" style="background-color:  rgb(192, 185, 185); margin-right: 30px;">
          <div *ngIf="signupActivated == false">
            <form [formGroup]="form" (ngSubmit)="login()">
              <h2>Login here</h2>
              <table>
                <tr>
                  <td>Username:</td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="username" formControlName="username">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>Password:</td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="password" formControlName="password">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button mat-raised-button type="submit" [disabled]="form.invalid">Login</button>&nbsp;
                  </td>
                </tr>
                <br>
                <tr *ngIf="errorMsg !== undefined">
                  <td></td>
                  <td>{{ errorMsg }}</td>
                </tr>
                <br>
                <tr>
                  <td>
                    <button mat-flat-button (click)="signup()" type="button">Request for signup</button>
                  </td>
                  <td style="text-align: center;">
                    <button mat-flat-button (click)="setup()" type="button">First time login</button>
                  </td>
                </tr>
              </table>
              <br>
            </form>
          </div>
    
          <div *ngIf="signupActivated">
            <br>
            <h2>Please enter your sign-up email </h2>
            <form [formGroup]="verification" (ngSubmit)="sendReqToCaptain()">
              <table class="table-container">
                <tr>
                  <td>
                    <mat-form-field>
                      <input matInput type="text" placeholder="email" formControlName="email">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align: bottom;">
                    <button mat-raised-button type="submit">Send Request</button>
                  </td>
                </tr>
              </table>
              <br>
            </form>
          </div>
        </div>
  
        <div *ngIf="setupActivated" style="background-color: rgb(192, 185, 185);">
          <br>
          <h2>Sign Up Here</h2>
          <form [formGroup]="signupForm" (ngSubmit)="createAccount()">
            <table>
              <tr>
                <td></td>
                <td>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Email" formControlName="email">
                  </mat-form-field>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Choose username" formControlName="username">
                  </mat-form-field>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Choose password" formControlName="password">
                  </mat-form-field>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button mat-raised-button type="submit" [disabled]="signupForm.invalid">Create Account</button>
                </td>
                <td></td>
              </tr>
              <tr *ngIf="verificationEnded">
                <td></td>
                <td>
                  <p *ngIf="verified == false">Sign up failed. Please check your email or submit a new request to join as member.</p>
                </td>
                <td></td>
              </tr>
            </table>
            <br>
          </form>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>



