<form [formGroup]="form" class="example-form">
  <table class="login-form">
    <tr>
      <td>Username:</td>
      <td>
        <mat-form-field class="example-full-width">
          <!-- <mat-label>Favorite food</mat-label> -->
          <input matInput placeholder="username" formControlName="username">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <mat-form-field class="example-full-width">
          <!-- <mat-label>Leave a comment</mat-label> -->
          <input matInput placeholder="password" formControlName="password">
        </mat-form-field>
      </td>
    </tr>
  </table>
  </form>