.example-form {
  background-image: url("../../assets/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: transparent;
  width: 600px;
  padding: 20px;
  text-align: center;
  
}

.table-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}