.card-content-container {
    display: flex;
    /* align-items: center; */
}

.example-header-image {
    background-size: cover;
    flex-shrink: 0;
    margin-right: 10px;
}

.text-container {
    flex-grow: 1;
    /* display: flex; */
    justify-content: flex-end;
    /* align-items: center; */
    margin-left: 10px;
}

