<mat-card>
    <mat-card-content>
        <form [formGroup]="profileForm">
            <table>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="text" formControlName="name" placeholder="Name">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="number" formControlName="weight" placeholder="Weight">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="number" formControlName="Height" placeholder="Height (cm)">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="email" formControlName="email" placeholder="Email">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="number" formControlName="phoneNumber" placeholder="Phone Number">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="date" formControlName="DOB" placeholder="Date of Birth">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="number" formControlName="eContact" placeholder="Emergency Contact">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="text" formControlName="eName" placeholder="Name of Contact Person">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="text" formControlName="homeAdd" placeholder="Home Address">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="text" formControlName="injuries" placeholder="Past Injuries">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select formControlName="role">
                                <mat-option value="Player">Player</mat-option>
                                <mat-option value="Coach">Coach</mat-option>
                                <mat-option value="Co-Coach">Co-Coach</mat-option>
                                <mat-option value="Captain">Captain</mat-option>
                                <mat-option value="Vice-Captain">Vice-Captain</mat-option>
                                <mat-option value="Treasurer">Treasurer</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="number" formControlName="year" placeholder="Year Joined">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select multiple formControlName="positions">
                                <mat-option value="GS">GS</mat-option>
                                <mat-option value="GA">GA</mat-option>
                                <mat-option value="WA">WA</mat-option>
                                <mat-option value="C">C</mat-option>
                                <mat-option value="WD">WD</mat-option>
                                <mat-option value="GD">GD</mat-option>
                                <mat-option value="GK">GK</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <!-- To add profile photo -->
                <tr>

                </tr>
                <!-- To add submit button -->
                <tr>

                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>
