<mat-card class="example-card">
    <mat-card-header class="header-container" style="margin-left: 45px;">
      <div mat-card-avatar class="example-header-image" [style.background-image]="'url(' + playerInfo.playerPhoto + ')'"></div>
      <div class="card-details">
        <mat-card-title><h2>{{capName(playerInfo.name)}}</h2></mat-card-title>
        <mat-card-subtitle><h3>Role: {{playerInfo.role}}</h3></mat-card-subtitle>
      </div>
    </mat-card-header>
    <div style="margin-left: 45px;">
      <mat-card-content>
        <!-- <div class="image-container">
          <img mat-card-image src="{{playerInfo.playerPhoto}}" width="100">
        </div> -->
        
        <div class="content-details">
          <h3><span style="color:grey">Positions: </span>{{playerInfo.positions}}</h3>
          <h3><span style="color:grey">Year Joined: </span>{{playerInfo.yearJoined}}</h3>
          <h3><span style="color:grey">DOB: </span>{{playerInfo.dob}}</h3>
          <h3><span style="color:grey">Height: </span>{{playerInfo.height}}</h3>
          <br>
          
          <h3><span style="color:grey">Competition cap: </span>{{playerStats.cap}}</h3>
          <h3><span style="color:grey">Average Shooting Percentage: </span>{{playerStats.avgShootingPercent}}</h3>
          <h3><span style="color:grey">Average Interception per game: </span>{{playerStats.avgInterceptionPerGame}}</h3>
        </div>

      </mat-card-content>
    </div>

  </mat-card>