<mat-card class="example-card">
    <mat-card-content>
        <p>Current team funds: S$</p>
        <br>
        <p>Semi-annual fees: S$20</p>
        <br>
        <!-- <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret">
            <ngx-stripe-payment [clientSecret]="clientSecret" [elementsOptions]="elementsOptions"></ngx-stripe-payment>
        </ng-container>
        <br> -->
        <p>
            <button mat-raised-button (click)="pay()">Pay team funds</button>
        </p>

    </mat-card-content>
</mat-card>

